/********/
/* BASE */
/********/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
@font-face {
    font-family: 'San Francisco';
    src: url('/fonts/SanFranciscoDisplay-Regular.otf');
}

:root {
    /*--g-green: #3cba54;*/
    /*--g-red: #db3236;*/
    /*--g-blue: #4885ed;*/
    /*--g-yellow: #f4c20d;*/

    --white: #fff;
    --light-grey: #f7f7f7;
    --dark-grey: #ecebec;
    --black: #403c40;
    --yellow: #ffe800;
    --red: #dd2825;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div{display: block;}
ul, li{padding: 0; margin: 0; list-style: none;}
.clearfix{clear: both;}
.relative{position: relative;}
.fixed{position: fixed !important;}
.no-padding{padding: 0;}

.separa-10, .separa-20, .separa-30, .separa-40{clear: both;}
.separa-10{height: 10px;}
.separa-20{height: 20px;}
.separa-30{height: 30px;}
.separa-40{height: 40px;}
.container{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    font-family: "Open Sans", sans-serif;
}
h1{font-size: 48px;}
h2{font-size: 35px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 12px;}
h6{font-size: 8px;}

a, p, li{text-decoration: none; margin: 0px; font-family: "Open Sans", sans-serif}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wrapper-flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 *//* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-box;      /* TWEENER - IE 10 */     /* NEW - Chrome */
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.hidden{
    display: none !important;
}
.text-center{
    text-align: center;
}
.bg-white{background-color: var(--white);}
.bg-light-grey{background-color: var(--light-grey);}
.bg-dark-grey{background-color: var(--dark-grey);}
.bg-black{background-color: var(--black);}
.bg-yellow{background-color: var(--yellow);}
.bg-red{background-color: var(--red);}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,0.6);
}
.imagen{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.imagen:after{
    content:"";
    padding-top: 100%; 
    display: block;
}
.col{
    position: relative;
    float: left;
    padding: 0px 15px;
    min-height: 1px;
}
.col-offset-1 {margin-left: 8.33333333%;}
.col-2{width: 16.66666667%;} .col-offset-2{margin-left: 16.66666667%;}
.col-push-2{left: 50%;} .col-pull-2{right: 50%;}
.col-3{width: 25%;} .col-offset-3{margin-left: 25%;}
.col-4{width: 33.33333333%;} .col-offset-4{margin-left: 33.33333333%;}
.col-offset-5{margin-left: 41.66666667%;}
.col-6{width: 50%;} .col-offset-6{margin-left: 50%;}
.col-push-6{left: 50%;} .col-pull-6{right: 50%;}
.col-8{width: 66.66666667%;}
.col-10{width: 83.33333333%;}
.col-12{width: 100%;}
body{background-color: var(--dark-grey);}
body, a{
    margin: 0;
    font-size: 18px;
    background-color: grey;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none!important;
}

.body{
    align-content: center;
}
.btn{
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    margin: 0;
    padding: 5px;
    font-size: 16px;

    background-color: #ffb366;
}
#plato{
    font-weight: 600;
    font-size: 24px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  body{
      background-color: #bfff80;
  }
  h1{   
      font-weight: 600;
      text-decoration: underline;
  }